<div class="lg:m-3 shadow-md hover:shadow-lg hover:bg-gray-100 rounded-lg bg-white my-12 mx-8">
   <!-- Card Image -->
   <img src="{{image_url}}" alt="" class="overflow-hidden">
   <!-- Card Content -->
   <div class="p-4">
      <h3 class="font-medium text-gray-600 text-lg my-2 uppercase">{{name}}</h3>
      <h3 class="font-medium text-gray-600 text-lg my-2 uppercase"> {{tagline}}</h3>
      <p class="text-justify">{{description}}</p>
      <div class="mt-5">
         <a href="#"
            class="hover:bg-gray-700 rounded-full py-2 px-3 font-semibold hover:text-white bg-gray-400 text-gray-100">Read
            More</a>
      </div>
   </div>
</div>

   {{!-- <img class="image" src="{{image_url}}">
   <a href="/beers/beer-{{id}}">
      <h2>
         {{name}}
      </h2>
   </a>
   <h3>
      {{tagline}}
   </h3>
   <p>
      {{description}}
   </p>
   </ul> --}}
